<div *ngIf="exercise">
    <h4 jhiTranslate="artemisApp.fileUploadAssessment.dashboard.heading" [translateValues]="{ exerciseTitle: exercise.title }"></h4>
    <jhi-assessment-filters [submissions]="submissions" (filterChange)="updateFilteredSubmissions($event)"></jhi-assessment-filters>
    <ng-container *ngIf="!busy"></ng-container>
    <jhi-assessment-warning [exercise]="exercise"></jhi-assessment-warning>
    <div *ngIf="submissions && submissions.length > 0; else emptyTable">
        <jhi-submission-dashboard-table
            [numberOfCorrectionrounds]="numberOfCorrectionrounds"
            [submissions]="filteredSubmissions"
            [exercise]="exercise"
            [examId]="examId"
            [exerciseGroupId]="exerciseGroupId"
            [courseId]="courseId"
            [busy]="busy"
            (onCancelConfirm)="getSubmissions()"
            >
            </jhi-submission-dashboard-table>
</div>
</div>

<ng-template #emptyTable>
<p jhiTranslate="artemisApp.assessment.dashboard.empty">No Submissions for this exercise!</p>
</ng-template>
