@import 'darkly';

// Boostrap
$primary: #3e8acc;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$table-striped-bg: rgba($white, 0.05);

// Global colors
$artemis-dark: #353d47;
$artemis-lighter-dark: saturate(lighten($artemis-dark, 10%), 15%);
$neutral-dark: rgb(24, 26, 24);

// Backgrounds
$darker-body-bg: darken($body-bg, 20);
$slightly-darker-body-bg: darken($body-bg, 10);
$brighter-body-bg: lighten($body-bg, 10);

$dropdown-bg: $neutral-dark;
$popover-bg: $neutral-dark;
$modal-content-bg: $neutral-dark;

// Border
$border-color: lighten($body-bg, 10);

// Footer
$footer-bg: $neutral-dark;

// Cards
$card-bg: $neutral-dark;
$card-cap-bg: lighten($neutral-dark, 5%);
$card-border-color: $border-color;

// Navbar
$navbar-foreground: $body-color;
$navbar-bg: $artemis-dark;
$navbar-item-active-hover-bg: $artemis-dark;
$navbar-breadcrumb-background: $body-bg;
$navbar-breadcrumb-color: $primary;

// Component: plagiarism-inspector.component.scss
$plagiarism-inspector-darker-artemis-dark: darken($artemis-dark, 4);

// Overview variables
$overview-border-color: $border-color;
$overview-light-border-color: lighten($overview-border-color, 10%);
$overview-light-background-color: rgba($overview-light-border-color, 0.3);
$overview-light-primary-background-color: rgba($primary, 0.3);
$overview-blue-border-color: $primary;

// NGX CHARTS STYLING
.ngx-charts text {
    fill: #a0aabe;
}
.ngx-charts .tooltip-anchor {
    fill: #fff;
}
.ngx-charts .gridline-path {
    stroke: #2f3646;
}
.ngx-charts .refline-path {
    stroke: #455066;
}
.ngx-charts .reference-area {
    fill: #fff;
}
.ngx-charts .grid-panel.odd rect {
    fill: #ffffff0d;
}
.ngx-charts .number-card p {
    color: #f0f1f6;
}
.ngx-charts .gauge .background-arc path {
    fill: #2f3646;
}
.ngx-charts .gauge .gauge-tick path {
    stroke: #a0aabe;
}
.ngx-charts .gauge .gauge-tick text {
    fill: #a0aabe;
}
.ngx-charts .linear-gauge .background-bar path {
    fill: #2f3646;
}
.ngx-charts .linear-gauge .units {
    fill: #72809b;
}
.ngx-charts .timeline .brush-background {
    fill: #ffffff0d;
}
.ngx-charts .timeline .brush .selection {
    fill: #ffffff1a;
    stroke: #aaa;
}
.ngx-charts .polar-chart .polar-chart-background {
    fill: #1e222e;
}
.chart-legend .legend-labels {
    background: rgba(255, 255, 255, 0.05) !important;
}
.chart-legend .legend-item:hover {
    color: #fff;
}
.chart-legend .legend-label:hover,
.chart-legend .legend-label .active .legend-label-text {
    color: #fff !important;
}
.chart-legend .scale-legend-label,
.advanced-pie-legend {
    color: #a0aabe;
}
.advanced-pie-legend .legend-item:hover {
    color: #fff !important;
}
.number-card .number-card-label {
    font-size: 0.8em;
    color: #a0aabe;
}
