<div class="row">
    <div class="col">
        <h3 class="d-flex">{{ chartName }}</h3>
    </div>
    <div class="col justify-content-end align-items-center">
        <fa-icon [icon]="'arrow-left'" size="3x" role="button" (click)="switchTimeSpan(LEFT)"></fa-icon>
    </div>
    <div class="col-md-9 offset-md-2">
        <canvas
            baseChart
            height="250"
            width="1500"
            [datasets]="chartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
        ></canvas>
    </div>
    <div class="col-md-1 d-flex justify-content-start align-items-center">
        <fa-icon [icon]="'arrow-right'" size="3x" role="button" (click)="switchTimeSpan(RIGHT)"></fa-icon>
    </div>
</div>
<h4 class="col-md-9 offset-md-2 text-center mt-3 mb-5">{{ chartTime }}</h4>
